import main from '{{SCRIPT_PATH}}';

export default {
	async fetch(request: Request, env: Record<string, unknown>, ctx: ExecutionContext): Promise<Response> {
		await main({request,env,ctx});
		return new Response('OK');
	},
};
